/* empty cart formatting */
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.08);
    padding: 25px;
    width: 100%;
    text-align: center;
}

/* cart with food items added */
.cart-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.08);
    padding: 25px;
    width: 100%;
}